/* Home.css */

.hero-container {
  background-color: #0f172a; /* fondo oscuro tipo tailwind slate-900 */
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 300px;
  transition: padding-left 0.3s ease;
}

.hero-container.collapsed{
  padding-left: 60px;
}

.hero-grid {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-text {
  padding: 1rem;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text .highlight {
  color: #38bdf8; /* azul claro */
}

.hero-text p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.cv-button {
  background-color: #38bdf8;
  color: #0f172a;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cv-button:hover {
  background-color: #0ea5e9;
}

/* Imagen con borde animado */
.hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-border {
  border: 2px solid #38bdf8;
  padding: 0.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-border:hover {
  transform: scale(1.05);
}

.profile-image {
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .hero-container{
    padding-left: 60px;
  }
}
