.contenedorContacto{
    background: rgb(15 23 42);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}

.contenedorContacto a{
    text-align: center;

}

.contenedorContacto img{
    border-radius: 50%;
    margin: 20px;

    transition: ease-in-out 1s;
}
.contenedorContacto img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.contenedorContacto h2{
    color: aliceblue;
}